/3dAimTrainer/nbproject/private/
/3dAimTrainer/build/
3dAimTrainer/nbproject/private/private.properties
3dAimTrainer/nbproject/private/private.properties
3dAimTrainer/build/built-jar.properties
/3dAimTrainer/dist/
